.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--color-background);
  gap: 20px;
  border-radius: 5px;
  box-shadow: var(--shadow);

  .about-btn {
    margin-left: auto;
  }

  .username {
    color: var(--color-text-active);
    margin: 10px 0 0;
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}
