.user-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
  width: 30%;

  input {
    flex-grow: 0;
  }

  .container {
    flex-grow: 1;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: var(--shadow);
  }

}
