.btn {
  &.user-card {
    text-align: start;
    background-color: var(--color-user-card);

    &:hover {
      background-color: var(--color-user-card-hover);
    }

  }

  &.user-card__active {
    text-align: start;
    background-color: var(--color-user-card-active);

    &:hover {
      background-color: var(--color-user-card-active-hover);
    }

  }

}
