html {
  position: relative;
  min-height: 100%;
  display: flex;
  font-family: 'Roboto', sans-serif;
  background-color: var(--html-background);
}

body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --html-background: #09252e;
  --color-background: #94c0c2;
  --btn-color: #e2edc6;
  --btn-color-hover: #f9ffea;
  --font-active: #4a4a4a;
  --shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.btn {
  transition: .2s;
  border: none;
  padding: 10px 20px;
  margin: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: var(--shadow);
  background-color: var(--btn-color);

  &:hover {
    background-color: var(--btn-color-hover);
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

}

.input {
  padding: 10px;
  margin: 0;
  border-radius: 5px;
  border: none;
  box-shadow: var(--shadow);
  background-color: whitesmoke;
  outline: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  flex-grow: 1;
}

.small-page {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  min-height: 500px;
  box-shadow: var(--shadow);

  .back-btn {
    margin: auto 0 0;
  }

}

a {
  color: inherit;
  transition: .2s;

  &:hover {
    color: var(--font-active);
  }

}

.error-message {
  color: red;
  min-height: 20px;
  margin: 10px 0 0;
}

.loader {
  color: var(--btn-color);
  font-size: 20px;
  font-weight: 600;
}
